<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>captcha</title>
</head>
<body>
<div id="app">
    <p>活動名稱：<input v-model="actId" type="text"></p>
    <p>驗證碼：<input v-model="captchaStr" type="text" @keyup.enter="sendCaptcha"></p>
    <p>{{ result }}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                captchaStr: '',
                actId: '',
                result: ''
            }
        },
        methods: {
            sendCaptcha() {
                var _this = this
                $.ajax({
                    url: "/api",
                    type: "POST",
                    dataType: 'json',
                    data: JSON.stringify([
                        "-actid=" + this.actId,
                        "-addcaptstr=" + this.captchaStr
                    ]),
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data)
                    }
                });
                this.result += this.captchaStr + ','
                this.captchaStr = ""
            }
        }
    })
</script>
</body>
</html>